html {
  font-size: 15px;
  /*background-size: cover;*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', UDDigiKyokashoN-B,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/src/res/img/background/background_18.jpg") no-repeat fixed;
  background-size: cover;
}


@font-face {
  font-family: "HanaMinA";
  src: url("/src/res/font/jp/HanaMinA.ttf");
}
@font-face {
  font-family: "UDDigiKyokashoN-B";
  src: url("/src/res/font/jp/UDDigiKyokashoN-B.ttc");
}